.ChatWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .ChatBox {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 80vh;
        width: 90%;
        margin: 20px 20px;
        padding: 10px 0px;
        border: 2px solid;
        border-radius: 20px;
        display: flex;
        justify-content: end;
     

        .MessageBox {
            position: relative;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        & {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }

    .InputBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        background-color: rgb(130, 171, 215);
        width: 100%;
        padding: 23px 0px;

        .MessageInput {
            margin: 0px 10px;
            padding: 20px;
            flex-grow: 0.9;
            border: none;
            border-radius: 5px;
        }

        .labelInput {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            padding: 10px;
            border-radius: 20%;
            color: white;
        }

        .FileInput {
            display: none;
        }

        .SendMessage {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            border: none;
            outline: none;
            background-color: rgb(48, 133, 225);
            color: white;
        }
    }
}
