.NavBarWrapper {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 2em;

    .AppName {
        h2 {
            color: white;
            font-size: 25px;
        }

        span {
            color: rgb(0, 153, 255);
        }
    }

    .SocialLinks {
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 30px;
        color: black;

        a{
            cursor: pointer;
        }
    }

    .userInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        color: white;
        background-color: rgba(65, 120, 175, 0.498);
        border-radius: 20px;
        padding: 8px;
        flex-direction: row;
    }

    .NavInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        flex-direction: row;
        @media screen and (max-width: 500px) {
            gap: 1em;
            flex-direction: column;
        }
    }

    .LogoutButton {
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 0, 0, 0.229);
        padding: 10px;
        border-radius: 50%;
    }
}
